.idea
.terraform
terraform.tfstate
terraform.tfstate.backup
.DS_Store

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# temp files
temp_dir/

#Jupyter
.ipynb_checkpoints/